<div class="container home_container">
  <div class="ptb-60">
    <div class="row valign-wrapper mb40">
      <div class="col-sm-6">
        <div class="home_icon_block">
          <img class="img img-responsive" src="assets/images/home_author.jpg" alt="Web Devloper">
          <div class="home_social_icon">
            <a href="#">
              <span class="facebook_icon" data-ng-mouseenter="showFb()" data-ng-mouseleave="hideFb()"></span>
            </a>
            <a href="#">
              <span class="twitter_icon" data-ng-mouseenter="showTweeter()" data-ng-mouseleave="hideTweeter()"></span>
            </a>
            <a href="#">
              <span class="pin_icon" data-ng-mouseenter="showPin()" data-ng-mouseleave="hidePin()"></span>
            </a>
            <a href="#">
              <span class="linkedin_icon" data-ng-mouseenter="showLinkedin()" data-ng-mouseleave="hideLinkedin()"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 home_author_name">
        <div class="home_author_details">
          <h1>Mr.<span class="bolder">Di</span></h1>
          <h3>Test Technician/Web Developer/Android Developer</h3>
          <h4>
            <span class="available_icon"></span>
            Available on freelancer / upWork / Elance
          </h4>
        </div>

        <p class="home_para_hide">
          I'm a professional IT employee with over 10 years of related experience including managing server-based operating system, troubleshooting diagnosing and repairing hardware and software of laptop, desktops and servers, infrastructing and deploying business solution on Clould environment and specializing on back-end technologies using Java, MVC, and Non-SQL Server. 
        </p>
        <p>
          Also, I'm interested in JavaScript and some front-end framework like Angular, Redux and Rxjs. I'm a clean-code advocate with strong self-learning ability and outstanding teamwork skill.
        </p>
        <div class="row valign-wrapper">
          <div class="col-sm-6 mob_center">
            <a class="btn btn-primary system_btn quick_btn" data-toggle="modal" data-target="#more_details">Quick Profile View</a>
          </div>
          <div class="col-sm-6">
            <div class="pull-right sign_img">
              <img class="img img-responsive" src="assets/images/Signature.png" alt="Signature">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb40">
        <div>
          <h2>Some <span class="bolder">facts</span></h2>
          <div class="col-sm-2 col-xs-6 text-center home_facts">

            <span class="coffee_icon"></span>
            <h5>Coffee</h5>
            <span class="counter count CounterS">24</span>
          </div>
          <div class="col-sm-2 col-xs-6 text-center home_facts">
            <span class="clock_icon"></span>
            <h5>Coding</h5>
            <span class="counter count CounterS">365</span>
          </div>
          <div class="col-sm-2 col-xs-6 text-center home_facts">
            <span class="beg_icon"></span>
            <h5>Work shops</h5>
            <span class="counter count CounterS">10</span>
          </div>
          <div class="col-sm-2 col-xs-6 text-center home_facts">
            <span class="smile_icon"></span>
            <h5>Customer</h5>
            <span class="counter count CounterS">100</span>
          </div>
          <div class="col-sm-2 col-xs-6 text-center home_facts">
            <span class="code_icon"></span>
            <h5>Line of code</h5>
            <span class="counter count CounterS">1</span><span>m</span>
          </div>
          <div class="col-sm-2 col-xs-6 text-center home_facts">
            <span class="file_icon"></span>
            <h5>Projects</h5>
            <span class="counter count CounterS">10</span>
          </div>
        </div>
      </div>
    </div>

    <h2>Bio <span class="bolder">info</span></h2>
    <p class="mb40">
      My name is Di Wang and I am a test technician, currently living in Highland, NY.I have a Master of Science in Computer Science from North Dakota State University, and my primary focus and inspiration for my studies is Human Computer Interaction. In my free time, I study linux system administration and cloud infrastructure architect. I am both driven and self-motivated, and I am constantly experimenting with new technologies and techniques. I am very passionate about full-stack Development, and strive to better myself as a developer, and the development community as a whole.
    </p>

    <div class="row valign-wrapper mb40">
      <div class="col-sm-5 author_bio_img">
        <img class="img img-responsive" src="assets/images/home_author_bio.jpg" alt="Web Devloper">
      </div>
      <div class="col-sm-7">
        <div class="scroll_page_table">
          <table class="table table- mb40">
            <tbody>
            <tr>
              <th class="pb40">Name</th>
              <th class="pb40">:</th>
              <td class="pb40">Di Wang</td>
            </tr>
            <tr>
              <th class="pb40">Date Of Birth</th>
              <th class="pb40">:</th>
              <td class="pb40">07/27/1986</td>
            </tr>
            <tr>
              <th class="pb40">Email</th>
              <th class="pb40">:</th>
              <td class="pb40"><a href="mailto:diwangjob727@gmail.com" target="_top">diwangjob727@gmail.com</a></td>
            </tr>
            <tr>
              <th class="pb40">Address</th>
              <th class="pb40">:</th>
              <td class="pb40">2455 South Rd, Poughkeepsie, NY 12601</td>
            </tr>
            <tr>
              <th class="pb40">Phone</th>
              <th class="pb40">:</th>
              <td class="pb40">0123456789</td>
            </tr>
            <tr>
              <th>Website</th>
              <th>:</th>
              <td><a href="https://www.diwang727.info" target="_blank">www.diwang727.info</a></td>
            </tr>
            <tr>
              <th>Envato</th>
              <th>:</th>
              <!-- <td><a href="https://themeforest.net/user/phoenixcoded" target="_blank">https://themeforest.net/user/phoenixcoded</a></td> -->
              <td><a>coming soon</a></td>
            </tr>
            <tr>
              <th>Skype</th>
              <th>:</th>
              <td>di.wang.1</td>
            </tr>
            <tr>
              <th>Twitter</th>
              <th>:</th>
              <!-- <td><a href="https://twitter.com/phoenixcoded" target="_blank">@Phoenixcoded</a></td> -->
              <td><a>coming soon</a></td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>


    <h2>Projects I <span class="bolder">made</span></h2>

    <div class="row mb40">
      <div class="offered_services">
        <div class="col-md-4 text-center services_responsive">
          <div class="offered_services_icon">
            <span class="gamepad_icon"></span>
          </div>
          <h3 class="mtb20 system_font_color">Game Development</h3>
          <p style="text-align:justify">
            Fun with Math is a application designed to educates children in Mathematics. It trains four-operations calculation. You can download the source from <a href="https://github.com/dd19860727/Fun-with-Math" target="_blank">here</a> 
          </p>
        </div>
        <div class="col-md-4 text-center services_responsive">
          <div class="offered_services_icon">
            <span class="management_icon"></span>
          </div>
          <h3 class="mtb20 system_font_color">Publication</h3>
          <p style="text-align:justify">
            Developed a parallel particle filter model using Hadoop Linux Map-reduce framework on video object detection. You can read the article from <a href="http://www.data-mining-forum.de/books/icdmposter2017.pdf" target="_blank">here</a>
          </p>
        </div>
        <div class="col-md-4 text-center services_responsive">
          <div class="offered_services_icon">
            <span class="designing_icon"></span>
          </div>
          <h3 class="mtb20 system_font_color">Designing</h3>
          <p style="text-align:justify">
            Ultrasonic PhoneLens- A spatially aware mobile system which augments paper documents with digital information. You can watch the demo from <a href="https://www.youtube.com/watch?v=mnoPfWYLigI" target="_blank">here</a> 
          </p>
        </div>
      </div>
    </div>

    <h2>Who <span class="bolder">am I ?</span></h2>
    <div class="row">
      <p class="mb40 col-md-10 col-md-offset-1 text-center">Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables</p>
      <div class="col-sm-12 video-img-block mb20">
        <img class="img img-responsive" src="assets/images/video-bg1.jpg" alt="Video Background" />
        <div class="video-play-icon">
          <a  class="video video_modal" title="Video Presentation" href="https://player.vimeo.com/video/61373732?color=ff0179&amp;title=0&amp;byline=0&amp;portrait=0">
            <span class="play_icon"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn system_btn mr25">Hire Me Now</button>
      <button type="button" class="btn system_btn">Download CV</button>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 text-left">
        <h6> Developed by <a href="http://phoenixcoded.com/" target="_blank">Di Wang</a> </h6>
      </div>
      <div class="col-sm-2 text-center">
        <h6> Design by <a href="http://phoenixcoded.com/" target="_blank">Phoenixcoded</a> </h6>
      </div>
      <div class="col-sm-8 text-right">
        <h6> Copyright &copy; <span id="copyright-year">2016</span>. All rights reserved </h6>
      </div>
    </div>
  </div>
</footer>