<div class="container home_container">
  <div class="ptb-60">
    <div class="row valign-wrapper mb40">
      <div class="col-sm-6">
        <div class="home_icon_block">
          <img class="img img-responsive" src="assets/images/home_author.jpg" alt="Web Devloper">
          <div class="home_social_icon">
            <a href="#">
              <span class="facebook_icon" data-ng-mouseenter="showFb()" data-ng-mouseleave="hideFb()"></span>
            </a>
            <a href="#">
              <span class="twitter_icon" data-ng-mouseenter="showTweeter()" data-ng-mouseleave="hideTweeter()"></span>
            </a>
            <a href="#">
              <span class="pin_icon" data-ng-mouseenter="showPin()" data-ng-mouseleave="hidePin()"></span>
            </a>
            <a href="#">
              <span class="linkedin_icon" data-ng-mouseenter="showLinkedin()" data-ng-mouseleave="hideLinkedin()"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 home_author_name">
        <div class="home_author_details">
          <h1>Mr.<span class="bolder">Lancer</span></h1>
          <h3>UI Designer / Web Developer / Mobile Developer</h3>
          <h4>
            <span class="available_icon"></span>
            Available on freelancer / upWork / Elance
          </h4>
        </div>

        <p class="home_para_hide">
          Enthusiastically monetize magnetic resources via low-risk high-yield outsourcing. Enthusiastically implement backward-compatible supply chains through interactive users. Quickly develop magnetic e-services and functional e-commerce.
        </p>
        <p>
          Enthusiastically monetize magnetic resources via low-risk high-yield outsourcing. Enthusiastically implement backward-compatible supply chains through interactive users. Quickly develop magnetic e-services and functional e-commerce...
        </p>
        <div class="row valign-wrapper">
          <div class="col-sm-6 mob_center">
            <a class="btn btn-primary system_btn quick_btn" data-toggle="modal" data-target="#more_details">Quick Profile View</a>
          </div>
          <div class="col-sm-6">
            <div class="pull-right sign_img">
              <img class="img img-responsive" src="assets/images/Signature.png" alt="Signature">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb40">
        <div>
          <h2>Some <span class="bolder">facts</span></h2>
          <div class="col-sm-2 col-xs-6 text-center home_facts">

            <span class="coffee_icon"></span>
            <h5>Coffee</h5>
            <span class="counter count CounterS">920</span>
          </div>
          <div class="col-sm-2 col-xs-6 text-center home_facts">
            <span class="clock_icon"></span>
            <h5>Coding</h5>
            <span class="counter count CounterS">265</span>
          </div>
          <div class="col-sm-2 col-xs-6 text-center home_facts">
            <span class="beg_icon"></span>
            <h5>Work shops</h5>
            <span class="counter count CounterS">35</span>
          </div>
          <div class="col-sm-2 col-xs-6 text-center home_facts">
            <span class="smile_icon"></span>
            <h5>Customer</h5>
            <span class="counter count CounterS">1000</span>
          </div>
          <div class="col-sm-2 col-xs-6 text-center home_facts">
            <span class="code_icon"></span>
            <h5>Line of code</h5>
            <span class="counter count CounterS">2</span><span>m</span>
          </div>
          <div class="col-sm-2 col-xs-6 text-center home_facts">
            <span class="file_icon"></span>
            <h5>Projects</h5>
            <span class="counter count CounterS">65</span>
          </div>
        </div>
      </div>
    </div>

    <h2>Bio <span class="bolder">info</span></h2>
    <p class="mb40">
      Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables. Compellingly unleash fully tested outsourcing with prospective tunities. Uniquely maximize client-centric tals rather than focused web-readiness. Intrinsicly monetize reliable interfaces rather than multimedia based experiences. synergistic networks. Quickly rather than multimedia based Collaboratively synergize economically sound process improvements with functionalized e-commerce.
    </p>

    <div class="row valign-wrapper mb40">
      <div class="col-sm-5 author_bio_img">
        <img class="img img-responsive" src="assets/images/home_author_bio.jpg" alt="Web Devloper">
      </div>
      <div class="col-sm-7">
        <div class="scroll_page_table">
          <table class="table table- mb40">
            <tbody>
            <tr>
              <th class="pb40">Name</th>
              <th class="pb40">:</th>
              <td class="pb40">John Doe</td>
            </tr>
            <tr>
              <th class="pb40">Date Of Birth</th>
              <th class="pb40">:</th>
              <td class="pb40">03/08/1990</td>
            </tr>
            <tr>
              <th class="pb40">Email</th>
              <th class="pb40">:</th>
              <td class="pb40"><a href="mailto:demo@gmail.com" target="_top">demo@gmail.com</a></td>
            </tr>
            <tr>
              <th class="pb40">Address</th>
              <th class="pb40">:</th>
              <td class="pb40">208/ Royal Square, Utran, Surat - 395006</td>
            </tr>
            <tr>
              <th class="pb40">Phone</th>
              <th class="pb40">:</th>
              <td class="pb40">2589741587</td>
            </tr>
            <tr>
              <th>Website</th>
              <th>:</th>
              <td><a href="http://www.phoenixcoded.com" target="_blank">www.phoenixcoded.com</a></td>
            </tr>
            <tr>
              <th>Envato</th>
              <th>:</th>
              <td><a href="https://themeforest.net/user/phoenixcoded" target="_blank">https://themeforest.net/user/phoenixcoded</a></td>
            </tr>
            <tr>
              <th>Skype</th>
              <th>:</th>
              <td>Phoenixcoded</td>
            </tr>
            <tr>
              <th>Twitter</th>
              <th>:</th>
              <td><a href="https://twitter.com/phoenixcoded" target="_blank">@Phoenixcoded</a></td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>


    <h2>Services i <span class="bolder">offered</span></h2>

    <div class="row mb40">
      <div class="offered_services">
        <div class="col-md-4 text-center services_responsive">
          <div class="offered_services_icon">
            <span class="gamepad_icon"></span>
          </div>
          <h3 class="mtb20 system_font_color">Game Development</h3>
          <p>
            A few months ago, we found ridiculously cheap pl ane tickets  was our first visit to the city and, believe it or not, Stockholm in February was more pleasant than Boston in March.
          </p>
        </div>
        <div class="col-md-4 text-center services_responsive">
          <div class="offered_services_icon">
            <span class="management_icon"></span>
          </div>
          <h3 class="mtb20 system_font_color">Management</h3>
          <p>
            A few months ago, we found ridiculously cheap pl ane tickets  was our first visit to the city and, believe it or not, Stockholm in February was more pleasant than Boston in March.
          </p>
        </div>
        <div class="col-md-4 text-center services_responsive">
          <div class="offered_services_icon">
            <span class="designing_icon"></span>
          </div>
          <h3 class="mtb20 system_font_color">Designing</h3>
          <p>
            A few months ago, we found ridiculously cheap pl ane tickets  was our first visit to the city and, believe it or not, Stockholm in February was more pleasant than Boston in March.
          </p>
        </div>
      </div>
    </div>

    <h2>Who <span class="bolder">am i ?</span></h2>
    <div class="row">
      <p class="mb40 col-md-10 col-md-offset-1 text-center">Assertively cultivate professional interfaces without synergistic etworks. Quickly erage existing customized ideas through client-based eliverables</p>
      <div class="col-sm-12 video-img-block mb20">
        <img class="img img-responsive" src="assets/images/video-bg1.jpg" alt="Video Background" />
        <div class="video-play-icon">
          <a  class="video video_modal" title="Video Presentation" href="https://player.vimeo.com/video/61373732?color=ff0179&amp;title=0&amp;byline=0&amp;portrait=0">
            <span class="play_icon"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn system_btn mr25">Hire Me Now</button>
      <button type="button" class="btn system_btn">Download CV</button>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 text-left">
        <h6> Developed by <a href="http://phoenixcoded.com/" target="_blank">Di Wang</a> </h6>
      </div>
      <div class="col-sm-2 text-center">
        <h6> Design by <a href="http://phoenixcoded.com/" target="_blank">Phoenixcoded</a> </h6>
      </div>
      <div class="col-sm-8 text-right">
        <h6> Copyright &copy; <span id="copyright-year">2016</span>. All rights reserved </h6>
      </div>
    </div>
  </div>
</footer>