.parent-box{
    display: flex;
    flex-direction: row;

    .left-side-bar-box{
        width: 90px;
        height: 100vh;
    }

    .right-main-content-box{
        width: calc(100% - 90px);
        height: 100vh;
    }
}




